#home{
    text-align: center;
    height: 100vh;
    padding-top: 5em;
    
    

    img{
        max-height: 20em;
        margin-bottom: 2em;
    }
    

    .btn-dark{
        padding:1em 6em 1em 6em;
        margin-bottom: 2em;
    }


}