#home {
    text-align: center;
    height: 100vh;
    padding-top: 5em;



    img {
        max-height: 20em;
        margin-bottom: 2em;
    }


    .btnQuestion {
        position: relative;
        background-color: white;
        border-color: #FFA400;
        color: black;
        padding: 1em;
        z-index: 1;
    }

    .btnQuestion:hover {
        color: black;
    }

    .btnQuestion::after {
        content: '';
        border-radius: 3px;
        position: absolute;
        left: 0;
        bottom: 0%;
        height: 100%;
        width: 0;
        background-color: #FFA400;
        transition: 0.3s ease 0s, left 0.3s ease 0s;


    }

    .btnQuestion:hover::after {
        content: '';
        border-radius: 3px;
        position: absolute;
        left: 0;
        bottom: 0%;
        height: 100%;
        width: 100%;
        z-index: -1
    }




    .btn-dark {
        padding: 1em 6em 1em 6em;
        margin-bottom: 2em;
    }


}