#q3{
    
    h1{
        text-align: center;
        margin-top: 1em;
        padding-bottom: 0.5em;
        border-bottom: 2px #ffc107 solid;
    }

    .resoluc{
        h1{
            margin-top: 2em;
            border-top: 2px #ffc107 solid;
            border-bottom: none;
        }
      }


}